.custom-link {
    display: flex;
    align-items: center;
    transition: transform 0.4s ease;
  }
  
  .custom-link:hover {
    transform: translateX(4px); /* Dịch chuyển sang phải 4px */
  }
  
  .icon {
    margin-right: 4px; /* Khoảng cách giữa icon và chữ */
  }
  